﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIS Welcome Page</title>
    @Styles.Render("~/Content/master")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="wrapper">
    <div class="page-wrap">
        <div class="header">
            <div class="content-wrapper">
                <div class="imgwrapper1">
                    <div class="coatofarms"></div>
                </div>
                <div class="imgwrapper2">
                    <div class="title">Electronic Passport Management System</div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
        <div class="contentwrapper">
            <div id="content" class="table">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="leftside">
                    <div><a href="/" class="option shadow">Home</a></div>
                    <div><a href="/Login" class="option shadow">Log In</a></div>
                    <div><a href="/Register" class="option shadow">Register</a></div>
                </div>
            }
                <div class="middle">
                    @RenderBody()
                </div>
                @*<div class="rightside">
                    <div class="outertable">
                        <div class="support text-center">Support</div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="footertext">Iris Smart Technologies Limited - 2015</div>
    </footer>    
</body>

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
</html>
