﻿@using Microsoft.AspNet.Identity
@using WelcomeNIS.Models
<div id="divLoggedIn" class="DisplayLogin loggedIn">
    <div class="accountoptions right">
        <ul id="menu">
            <li class="menuitem">
                <div class="setupbtn"></div>
                <div class="submenu outersub">
                    <div class="ssmenu">
                        <div>
                            <a href="/"><div>My Account</div><div class="clear"></div></a>
                        </div>
                    </div>
                    <div class="ssmenu">
                        <div>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <input class="signoutBtn" type="submit" value="Sign Out" id="btnSignOut" />
                            }
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="txtLoginTextfo" class="right">@(GenericPrincipalExtensions.GetClaim(User, "Fullname"))</div>
    <div class="clear"></div>
</div>
