﻿@using WelcomeNIS.Models
@model LoginViewModel
@Styles.Render("~/Content/login")
@{
    ViewBag.Title = "Log in";
}

<div class="row outertable">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "rightpad140" }))
            {
                @Html.AntiForgeryToken()
                <div class="loginheader">Login: Please enter your credentials</div>
                <div class="loginsquare shadow">
                    <div class="loginLine">
                        <div class="left txtdiv shadow">
                            @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email", @Value = "operator@test.com" })
                        </div>
                        <div class="clear"></div>
                        <div id="emailval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Email)</div>
                    </div>
                    <div class="loginLine">
                        <div class="left txtdiv shadow">
                            @Html.PasswordFor(model => model.Password, new { maxval = 15, placeholder = "Password", @Value = "damilola"})
                        </div>
                        <div id="forgottenpwdiv" title="Forgot your password?" class="forgottenpw left"></div>
                        <div class="clear"></div>
                        <div id="passwordval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Password)</div>
                    </div>
                    @Html.ValidationMessage("ServerResponse")
                    <div class="loginLine">
                        <input id="signinbtn" class="genbutton slightRounded shadow right" type="submit" value="Sign In" />
                        <div class="clear"></div>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="supportdiv">
        <div class="vertical left">Support</div>
        <div class="slideout left hidden">
            <div class="padded">
                <div class="head">Contact Us</div>
                <div class="spacebot">Phone: +234 (0)1 629 0842</div>
                <div class="head">User Recovery</div>
                <div class="link">Recover my Username</div>
                <div class="link">Recover my Password</div>
                <div class="link">Recover both my username and password</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

@*Forgotten password*@
<div id="forgotpassword" class="PopupWindow">
    <div class="closebtn">X</div>
    <div class="medfirstletter spacebot">Can't remember your password?</div>
    <div class="spacebotx2">We'll send you a link to reset it. Just enter your email below:</div>
    <div>
        <input type="text" id="txtresetemail" class="textbox2 left" />
        <div id="sendbtn" onclick="SendReset()" class="genbutton left spacetop">Send</div>
        <div id="forgotpwloadingdiv" class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="forgotpwval" class="validationMessage hidden spacetop"></div>
    <div class="clear"></div>
</div>

@*Information popups*@
<div id="PopupMsg" class="PopupWindow">
    <div class="closebtn">X</div>
    <div id="popupmsgInner" class="popupinfoinner"></div>
</div>

@Scripts.Render("~/bundles/home")
@Scripts.Render("~/bundles/login")



