﻿@model WelcomeNIS.Models.RegisterViewModel

@Styles.Render("~/Content/login")
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @{
                using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "rightpad140" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.OperatorId)
                    <div class="loginheader">Registration: Request access</div>
                    <div class="loginsquare shadow">
                        <div class="loginLine">
                            <div class="left txtdiv shadow">
                                @Html.TextBoxFor(model => model.Firstname, new { placeholder = "First name" })
                            </div>
                            <div class="clear"></div>
                            <div id="firtnameval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Firstname)</div>
                        </div>
                        <div class="loginLine">
                            <div class="left txtdiv shadow">
                                @Html.TextBoxFor(model => model.Surname, new { placeholder = "Surname" })
                            </div>
                            <div class="clear"></div>
                            <div id="surnameval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Surname)</div>
                        </div>
                        <div class="loginLine">
                            <div class="left txtdiv shadow">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number" })
                            </div>
                            <div class="clear"></div>
                            <div id="surnameval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.PhoneNumber)</div>
                        </div>
                        @if (!Model.ProfileUpdate)
                        {
                            <div class="loginLine">
                                <div class="left txtdiv shadow">
                                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email" })
                                </div>
                                <div class="clear"></div>
                                <div id="emailval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Email)</div>
                            </div>
                        }
                        else
                        {
                            <div class="loginLine">
                                <div class="left txtdiv shadow">
                                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email", disabled = true })
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                        @Html.Hidden("Email", Model.Email)
                        <div class="loginLine">
                            <div class="left txtdiv shadow">
                                @Html.PasswordFor(model => model.Password, new { maxval = 15, placeholder = "Password" })
                            </div>
                            <div class="clear"></div>
                            <div id="passwordval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Password)</div>
                        </div>
                        <div class="loginLine">
                            <div class="left txtdiv shadow">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { maxval = 15, placeholder = "Confirm Password" })
                            </div>
                            <div class="clear"></div>
                            <div id="cpasswordval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
                        </div>
                        @Html.ValidationMessage("ServerResponse")
                        <div class="loginLine">
                            <input class="genbutton slightRounded shadow right" type="submit" value="@(Model.ProfileUpdate ? "Update" : "Register")" />
                            <div class="loadingdiv right">
                                <div class="smallmodal"></div>
                            </div><div class="clear"></div>
                        </div>
                    </div>
                }
            }
        </section>
    </div>
</div>
<div id="PopupMsg" class="PopupWindow">
    <div class="closebtn">X</div>
    <div id="popupmsgInner" class="popupinfoinner"></div>
</div>
@Scripts.Render("~/bundles/home")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


