﻿.appbox
{
    margin:10px;
    background-repeat: no-repeat;
    background-position: center bottom 20%;
    background-size: 55% 70%;
    background-color: white;
    width: 29%;
    height: 40%;
    min-width: 200px;
    min-height: 200px;
    border: 5px solid #f4f4f4;
}

.appbox.clickable:hover
{
    border: 5px solid #5EA863;
}

.apptitle
{
    margin: 10px auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: IrisUPC;
    color: darkgreen;
}

.clickable
{
    cursor: pointer;
}

.faded
{
    opacity: 0.4;
}