﻿.genbutton
{
    background-color: transparent;
    text-align:center;
    border-style: double;
    color: White;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    outline: none;
    padding: 3px 10px;
}

.genbutton:hover, .homebtn:hover
{
    opacity: 0.7;
}

.homebtn
{
    width: 35px;
    height: 35px;
    background: url(../images/home.png);
    background-size: cover;
    cursor: pointer;
}

.jdpicker
{
    background: white url(../images/calender.jpg) no-repeat right 5px center;
    border-style: ridge;
}

select
{
    width: 200px;
}

.label
{
    width: 20%;
    color: #333;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 7px;
    min-width: 95px;
}

.textbox
{
    display: table-cell;
    width: 100%;
    min-width: 100px;
    box-sizing: border-box;
    padding: 5px 7px 3px 7px;
}

.savebtn
{
    background-color: #2F7144;
    padding: 7px 20px;
    font-size: 15px;
}

/* Table Sample  - IE8+ */

.mytableexample
{
    margin: 20px 0px 0px 0px;
    width: 100%; /* default is 100% but you can set what width you want */
}

.tabletitle
{
    font-size: 18px;
    color: #333;
    padding: 5px 0px 0px 8px;
    margin-bottom: 5px;
    text-align: left;
}

.tableheader
{
    font-size: 15px;
    background-color: #2F7144;
    color: white;
}

/* A row */
.tablediv > div 
{
    display: table;
    table-layout: fixed;
    width: 100%;
}

/* a cell */
.tablediv > div > div
{
    /* You can set the width yourself or leave it and it divides the width automatically */
    display: table-cell;
    padding: 5px 0px;
    padding-left: 10px;
}

.even
{
    background-color: #f4f4f4;
}

