﻿.validationMessage
{
    color: red;
    font-size: 13px;
    text-align: left;
    margin-left: 5px;
}

.field-validation-error
{
    display: inline-block;
    padding: 5px 0px 5px 0px; /*padding: 0px 0px 10px 10px;*/
    color: red;
    font-size: 13px;
}

.apperror .field-validation-error, .loginLine .field-validation-error
{
    padding: 0px 0px 0px 0px;
}

.logindiv
{
    padding: 10px 20px;
}

.genbutton
{
    background-color: #2F7144;
    text-align:center;
    color:White;
    border: none;
    cursor: pointer;
    line-height: 28px;
    height: 29px;
    padding: 0px 20px;
    font-size: 14px;
}

.cancel
{
    background-color: #ccc;
    color: Red;    
}

.genbutton:hover, .forgottenpw:hover, .newregistration:hover
{
    opacity: 0.8;       
}

#signinbtn
{
    margin-right: 33px;
}

#forgotpassword
{
    width: 430px;
    padding-right: 10px;
}

#txtresetemail
{
    width: 285px;
}

#sendbtn
{
    margin-top: 0px;
}

.success
{
    color: darkgreen;
    width: 370px;
    margin-left: 2px;
}

.txtdiv
{
    /*border: 1px solid #f9f9f9;*/
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
	margin: 10px 0px;
}

.txtdiv input, .textbox
{
    width: 350px;
    height: 40px;
    line-height: 25px;
    font-size: 16px;
    border: none;
    padding: 0px 10px;
    background-color: #f4f4f4;
}

.textbox2
{
    width: 350px;
    height: 27px;
    font-size: 15px;
    padding: 0px 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.textbox3
{
    width: 200px;
    height: 27px;
    font-size: 15px;
    padding: 0px 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.slash
{
    margin-right: 5px;
    margin-left: -5px;
    line-height: 30px;
    font-size: 20px;
}

.col-md-8
{
    text-align: center;
}

.rightpad140{
    padding-right: 140px;
}

.loginheader
{
    margin:  0px auto 0px auto;
    font-size: 26px;
    padding-left: 30px;
    padding-top: 30px;
    text-align: left;
    width: 465px;
}

.loginsquare
{
    margin: 10px auto 50px auto;
    width: auto;
    padding: 20px 40px;
    background-color: white;
    display: inline-block;
    text-align: left;
}

.forgottenpw
{
    width: 20px;
    height: 20px;
    margin-top: 22px;
    cursor: pointer;
    margin-left: 15px;
    background: url(/images/qmark.png);
}

.supportdiv
{
    bottom: 40%;
    right:-43px;
    z-index: 9999;
    position: fixed;
    height: 184px;
}

.vertical{
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform:rotate(270deg);
    transform: rotate(270deg);
    white-space:nowrap;
    background-color: #2F7144;
    color: white;
    padding: 5px 15px;
    letter-spacing: 3px;
    cursor: pointer;   
    border-radius: 4px 4px 0px 0px; 
    -moz-border-radius: 4px 4px 0px 0px; 
    -webkit-border-radius: 4px 4px 0px 0px; 
	-khtml-border-radius:  4px 4px 0px 0px; 
    font-size: 20px;
}

.slideout
{
    background-color: white;
    margin-left: -43px;
    margin-top: -43px;
    border: 1px solid #ccc;
    margin-right: 44px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: none;
    width: 300px;
}

.head
{
    font-size: 20px;
    margin-bottom: 10px;
    color: #2F7144;
}

.spacebot
{
    margin-bottom: 20px;
}

.link
{
    color: #369;
    margin-bottom: 5px;
}

.link:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.padded{
    padding: 20px;
}