﻿/* Body */
 *
 { 
     outline-color: none;
     outline: none;
 }

 html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.page-wrap {
    min-height: 100%;
    height: 100%;
    margin-bottom: -41px; 
}


.site-footer, .page-wrap:after {
  height: 40px; 
}

html 
{    
    color: #333;
    font-size: .85em;
    font-family: 'Segoe UI';
    min-width: 980px;
}

.contentwrapper{
     min-height:100%; 
     height: 100%;
     position: relative;
     padding: 74px 0px 10px 0px;
     box-sizing: border-box;
     z-index: 99;
}

#content {
    position: relative;
    margin: auto;
    height: 100%;
    display: table;
    width: 100%;
    height: 100%;
}

.content-wrapper
{
    position: relative;
    display: table;
    width: 100%;
    min-width: 960px;
}

footer 
{
    margin-bottom: -30px;
    border-top: 1px solid #ccc;
    height: 37px;
    background-color: #f4f4f4;
    display: table;
    width: 100%;
    position: relative;
    z-index: 999;
}

.footertext {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #2D6D42;
    font-weight:bold;
}

.header
{
    border-bottom: 3px solid #2F7144;
    border-top: 2px solid #ccc;
    width: 100%;
    position: absolute;
    z-index: 999;
}

.header:after
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/bg6.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

/* header/footer */
.imgwrapper1
{
    width: 15%;
    padding: 5px 0px;
    display:table-cell;
    vertical-align: middle;
}

.imgwrapper2
{
    width: auto;
    display:table-cell;
    vertical-align: middle;
}

.coatofarms
{
    background: url(../images/coatofarms.png);
    background-size: cover;
    margin-left: 55px;
    width: 70px;
    height: 60px;
}

.title
{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: IrisUPC;
    padding-right: 100px;
}

.support{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-family: IrisUPC;
    color: #369;
    display: table-cell;
    vertical-align: middle;
}


.flag
{
    background: url(../images/flag.png);
    width: 121px;
    height: 55px;
    margin: auto;
    background-size: cover;
}

/* Login Bar */

#divLoggedIn
{
    right: 10px;
    top: 10px;
    min-width: 107px;
    position: absolute;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

.setupbtn
{
    width: 16px;
    height: 21px;
    background: url(../images/setup2.png) no-repeat 0px 1px;
    margin-left: 7px;
    border: none;
    margin-top: 2px;
    cursor: pointer;
}

.signoutBtn
{
    width:  100%;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    text-align:center;
    color: #2F7144;
    border: none;
    cursor: pointer;
    font-size: 13px !important;
    outline: 0;
    outline: none;
}

.signoutBtn:hover
{
    color: White;
    opacity: 1;
}

.closebtn:hover
{
    opacity: 0.7;
}

#menu li.menuitem:hover
{
    opacity: 0.9;
    background-color: #2F7144;
}

#menu
{
    list-style-type: none;
    position: relative;
    padding: 0px;
    margin: -1px 0px 0px 2px;    
}

#menu li.menuitem
{
    height: 22px;
    width: 30px;
    text-align: center;
    color: #f4f4f4;
    line-height: 25px;
    float: left;
    cursor: pointer;    
}

.ssmenu
{
    height: 25px;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: -8px
}

.ssmenu a
{
    height: 25px;
    color: #2F7144;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.ssmenu a, .ssmenu input
{
    color: #369;
}

.ssmenu a:hover, .ssmenu input:hover
{
    color: white !important;
}

#menu li.menuitem a
{
    text-decoration: none !important;
}

.submenu
{
    background-color: white;
    display: none;
    position: relative;
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.ssmenu:hover
{
    background-color: #2F7144;
    color: #f4f4f4;
}

#menu .ssmenu:hover
{
    background-color: #2F7144;
}

.submenu .ssmenu a, .ssmenu input
{
    color: #2F7144;
}

/* left middle right bars*/
.table
{
    display: table;
    min-width: 960px;
    height: 100%;
}

.leftside
{
    width:15%;
    box-sizing: border-box;
    display:table-cell;
    vertical-align: top;
    height: 100%;
    padding: 5px;
}

.middle
{
    width: auto;
    padding-left: 5px;
    box-sizing: border-box;
    display:table-cell;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-image: url(/images/bg.jpg);
}

.rightside
{
    width: 15%;
    box-sizing: border-box;
    display:table-cell;
    height: 100%;
    padding: 0px 5px 0px 10px;
    vertical-align: top;
}

.outertable {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    padding-bottom: 51px;
}

.option
{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #2F7144;
    color: white;
    padding: 7px 0px;
    text-decoration: none;
    margin: 5px 0px;
}

.option:hover
{
    opacity: 0.7;
}

/* Spread out over all the pages */
.closebtn
{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #d2322d;
    color: White;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;   
    border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
	-khtml-border-radius:  4px 4px 4px 4px; 
}

.PopupWindow
{
    padding: 20px 25px 25px 25px;
    overflow: auto; 
    background-color: White; 
    font-size: 17px;
    display:none;  
    max-width: 900px;
    position:relative;
    -khtml-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;  
    overflow-x: hidden;
    max-height: 600px;
}

.modal {
    display:    none;
    position:   absolute;
    min-height: 150px;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

.loading  {
    overflow: hidden;   
    position: relative;
}

.loading .modal {
    display: block;
}

.loadingdiv
{
    height: 35px;
    width: 35px;
    margin: -3px 7px 0px 7px;
}

.welcomeimg
{
    background: url(/images/immigrationimg.png) no-repeat;
    background-position: right bottom;
    
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset;
}