﻿/* Misc */

.left
{
    float: left;  
}

.right
{
    float: right;  
}

.centered
{
    margin: 0px auto;    
}

.verticalmiddle
{
    display: inline-block;
    vertical-align: middle;
}

.graybg
{
    background-color: #f4f4f4;
}

.padded
{
    padding: 10px;
}

.table
{
    display: table;
    vertical-align: top;
    width: 100%;
}

.bigfirstletter:first-letter
{
    font-size: 30px;
    color: #2F7144;
}

.spacedown
{
    padding-bottom: 10px;
}

.spacetop
{
    padding-top: 10px;
}

.spacedownm
{
    margin-bottom: 10px;
}

.spacetopm
{
    margin-top: 10px;
}

.spacetopmx2
{
    margin-top: 20px;
}

.clear
{
    clear: both;   
}

.relative
{
    position: relative;   
}

.absolute
{
    position: absolute;   
}

.slightRounded
{
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
}

.shadow
{ 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}
    
.hidden{
    display: none;
}
