﻿.leftside
{
    width:15%;
    padding-left: 5px;
    box-sizing: border-box;
    display:table-cell;
    min-width: 200px;
    vertical-align: top;
}

.rightside
{
    width: auto;
    box-sizing: border-box;
    display:table-cell;
    min-height: 400px;
    padding: 0px 5px 0px 10px;
    vertical-align: top;
}

.divheaderspace {
  margin-top: 38px;
}


.divheader {
    background-color: #2F7144 !important;
    text-align: center;
}

.leftside .divheader
{
    font-size: 16px;
    padding: 5px 7px;
    color: white;
}

.rightside .divheader
{
    font-size: 16px;
    color: white;
    padding: 5px 10px;
}

.rightside .division2 .label
{
    min-width: 145px;
}

.rightside .division1 {
  padding-bottom: 20px;
  padding-right: 25px;
}

.rightside .padded
{
    padding: 7px;
}

.divinfo
{
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f8f8f8;
    padding: 5px 7px 10px 7px;
}

.graytext
{
    color: #999;
    padding-bottom: 5px;
}

.greentext{
    color: #2D6D42;
    font-size: 15px;
    font-weight: bold;
}

.linkoption
{
    font-size: 14px;
    line-height: 24px;
    background: url(../images/arrow3.png) 0px 5px no-repeat;
    opacity: 0.7;
    padding-left: 25px;
    margin-bottom: 7px;
    cursor: pointer;
}

.linkoption.active
{
    background: url(../images/arrow2.png) 0px 5px no-repeat;
    font-weight: bold;
    opacity: 1;
    cursor: default;
}

.linkoption:hover
{
    color: #2F7144;
    opacity: 1;
}

.linkoptionsubheader
{
    padding-left: 20px;
    margin: 0px 0px 7px 20px;
    opacity: 0.5;
    background: url(../images/x.png) 0px 4px no-repeat;
}

.linkoptionsubheader.active
{
    opacity: 1;
    cursor: pointer;
    background: none;
}

.linkoptionsubheader.complete
{
    background: url(../images/tick.png) 0px 4px no-repeat;
    color: #2D6D42;
    font-weight: normal;
}

.divtitle
{
    font-size: 18px;
    color: #2D6D42;
    background-color: #f8f8f8;
    padding: 7px 10px;
}

.division1
{
    display: table-cell;
    width: 49%;
    padding-right: 30px;
}

.division2
{
    display: table-cell;
    width: auto;
}

.divisionbox
{
    margin: 10px 0px;
    display: table;
    width: 100%;
    margin: 7px 0px;
}

.division2 .divisionbox
{
    padding-right: 15px;
    box-sizing: border-box;
}

