﻿@using UMAentities
@Styles.Render("~/Content/applications")

@{
    ViewBag.Title = "Applications";
}

<div id="appsdiv" class="outertable">
    <div class="modal"></div>
    @foreach (Application app in ViewBag.Applications)
    {
        if (app.HasAccess)
        { 
            <div class="appbox shadow left clickable" onclick="GoToApp(@app.Id)" style="background-image: url(/images/applications/@app.Icon)">
                <div class="apptitle">@app.Name</div>
            </div>
        }
        else
        {
            <div class="appbox shadow left faded" onclick="GoToApp(@app.Id)" style="@(string.IsNullOrEmpty(app.Icon) ? "" : "background-image: url(/images/applications/" + app.Icon + ")")">
                <div class="apptitle">@app.Name</div>
            </div>
        }
    }
    <div class="clear"></div>
</div>