﻿@Styles.Render("~/Content/home")
<div class="outertable welcomeimg">
    <div class="title2 welcome">Welcome to the Nigerian Immigration Service EPMS Applications Suite</div>
</div>
<div id="PopupMsg" class="PopupWindow">
    <div class="closebtn">X</div>
    <div id="popupmsgInner" class="popupinfoinner bigfirstletter"></div>
</div>
@Scripts.Render("~/bundles/jquery")
@if (ViewBag.RequestSent == 1)
{    
    <script type="text/javascript">
        $('#popupmsgInner').html('<div class="spacedown">Your request has been sent.</div><div>Please wait for an admin to approve your registration.</div>');
        $(function () {
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        });
    </script>
}